body {
  text-align: center;
  background-color: rgb(30, 114, 30);
  font-size: 25px;
}

#Global {
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: 10px;
  margin: auto 30px;
  /*
  !COMENTÁRIO, PODE APAGAR!

  usando 1 propriedade
  margin: [todos os lados];
  
  usando 2 propriedades
  margin: [cima e baixo] [direita e esquerda]; <- usei esse
  
  usando 4 propriedades
  margin: [cima] [direita] [baixo] [esquerda];

  'auto' significa que a margin vai ser aplicado automaticamente
  */
  padding-bottom: 10px;
}
.Campo {
  width: 80px;
  height: 35px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
}
