body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.651);
  background: url(img/bakground.webp) center fixed no-repeat;
  background-size: 100%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}




/*Titulo Pricipal*/
section.title {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  font-size: 50px;
}
h1.main-title {
  color: #fff;
}




/*Campo Principal*/
#Global {
  margin: auto;
  margin-bottom: 50vh;
  padding: 10px;
  max-width: 1000px;
  border-radius: 10px;
  background-color: rgba(15, 15, 15, 0.918);
  color: #fff;
}
.Campo {
  width: 80px;
  height: 35px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
}




/*Estilo dos inputs*/
input {
  transition: 0.1s;
}
/*<005>*/
input[type="button"]:hover {
  cursor: pointer;
  /*<006>*/
}
input[type="text"] {
  font-size: 11px;
}

input.calc {
  color: #cb3922;
  border: 1px solid #cb3922;
  background: transparent;
}
input.add {
  color: #03c300;
  border: 1px solid #03c300;
  background: transparent;
}
input.calc:hover {
  background: #cb3922;
  color: #fff;
}
input.add:hover {
  background: #03c300;
  color: #fff;
}

footer {
  padding: 50px;
  background: rgb(34, 34, 34);
}
section.copyrith {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.copyrith a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.356);
  transition: 0.2s;
}
section.copyrith a:hover {
  color: rgba(255, 255, 255, 0.671);
}
