body {
  text-align: center;
  background-color: rgb(11, 49, 11);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#Global {
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: 10px;
  margin: auto 140px;
  padding-bottom: 10px;
}
.Campo {
  width: 80px;
  height: 35px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
}


input[type="button"]:hover {
  cursor: pointer;
}
